
body{
    color: khaki;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: steelblue;
    display: flex;
}

li{
width: 80px;
height: 80px;
line-height: 80px;
background-color: peachpuff;
text-align: center;
color: tomato;
}
.container{
    box-sizing: border-box;
   
}


.druga{
    background-color: darkolivegreen;
} 

.sad{
    border: solid 3px blue;
    margin-bottom: 10px;

}
.sad1{
    border: solid 3px blue;
    margin-bottom: 10px;
height: 200px;
}
