<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
                <li>Blog</li>
        </nav>
    </header>
    <img src="./HTML5.jpg" alt="Picture">
    <main>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>
        <nav>
            <ul>
                <li>Rebuilding slack.com</li>
                <li>Zasto bootcamp</li>
                <li>React - prozor u svet</li>
                <li>Najvece zablude o programerima u Srbiji</li>
            </ul>
        </nav>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>
        <article>
            <div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
                harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
                eaque blanditiis consequuntur cupiditate.</p>
        </article>

    </main>

    <footer>
        <p> &copy; BitStudent </p>
    </footer>
</body>

</html>