<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Blog</li>
      </ul>
    </nav>
  </header>
  <main>
    <img src="./HTML5.jpg" alt="Picture">

    <article class="a1">
      <div class="block first">
        <p> 300 x 200 </p>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>
    <article class="a2">
      <div class="block second">
        <p> 300 x 200 </p>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>
    <article class="a3">
      <nav class="third">
        <ul>
          <li>Rebuilding slack.com</li>
          <li>Zasto bootcamp</li>
          <li>React - prozor u svet</li>
          <li>Najvece zablude o programerima u Srbiji</li>
        </ul>
      </nav>
    </article>
    <article class="a4">
      <div class="block fourth">
        <p> 300 x 200 </p>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>
    <article class="a5">
      <div class="block fifth">
        <p> 300 x 200 </p>

      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>
    <article class="a6">
      <div class="block sixth">
        <p> 300 x 200 </p>

      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>
    <article slass="a7">
      <div class="block seventh">
        <p> 300 x 200 </p>

      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>
    <article class="a8">
      <div class="block eight">
        <p> 300 x 200 </p>

      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>
    <article class="a9">
      <div class="block nineth">
        <p> 300 x 200 </p>

      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione fuga ullam quidem quibusdam
        harum vitae eveniet perferendis pariatur, voluptates vero consectetur quaerat voluptatibus illum veniam,
        eaque blanditiis consequuntur cupiditate.</p>
    </article>

  </main>

  <footer>
    <p> &copy; BitStudent </p>
  </footer>
</body>

</html>