@import "partial";

$backgound-black: #000000;
$lepaboja: #a17cc0;
$sirina: 40%;



@font-face {
    font-family: "Dusan";
    src: url("./Raleway-Regular.ttf")
}

p {
    @include size();
    @include boxic(yellow);
    @include shadow();
}
.first {
color:$lepaboja;
background-color:$backgound-black;
font-family: Dusan;
border: red solid 2px;
}

.second {
    @extend .first;

}

.third {
    @extend .first;
    
}
.textP {
    @extend .first;
    font-family: fantasy;
}

q {
    font-family: 'Covered By Your Grace', cursive;   
    font-weight: bold;
    color: $lepaboja;
   font-style: oblique;
}

span {
    @extend .first;
    font-weight: bolder;
    font-style: italic;
}

.par {
    text-transform: uppercase;
    text-decoration: underline;
}

.par2{
    text-transform: lowercase;
    text-decoration: line-through;
}

div {
    .first {
        ul {
            li {
                &:first-child{

                }
            }
        }
    }
}
