$backgound-black: #000000;
$lepaboja: #a17cc0;
$sirina: 40%;

@font-face {
    font-family: "Dusan";
    src: url("./Raleway-Regular.ttf")
}

.first {
color:$lepaboja;
background-color:$backgound-black;
font-family: Dusan;
}

.second {
color: rgb(3, 77, 78);
background-color: rgba(9, 85, 9, 0.5);
font-family: dusan;
font-style: oblique;
}

.third {
    color: $lepaboja;
    background-color: $backgound-black;
    opacity: 0.8;
    font-family: 'Covered By Your Grace', cursive;}

.textP {
    font-family: fantasy;
}

q {
    font-family: 'Covered By Your Grace', cursive;   
    font-weight: bold;
    color: $lepaboja;
   font-style: oblique;
}

span {
    font-weight: bolder;
    font-style: italic;
}

.par {
    text-transform: uppercase;
    text-decoration: underline;
}

.par2{
    text-transform: lowercase;
    text-decoration: line-through;
}