body {
    text-align: center;
    height: 300px;
    background-color: gray;
}

button {
    margin-top: 50px;
    padding: 10px;
    color: white;
    background-color: red;
    border: none;
}

.novaklasa{
    background-color: white;
}


button:nth-child(3) {
    margin-top: 50px;
    padding: 10px;
    color: black;
    background-color: yellow;
    border: none;
}